<h2 class="page-header">Панель управления</h2>
<div class="dashboard container">
	<div class="col-md-3 col-sm-6">
		<div class="dashboard__item dashboard__item_mongo">
			<div class="dashboard__item-slideup dashboard__item-slideup_mongo">
				<span class="dashboard__item-slideup-text"><a target="__blank" href="https://www.mongodb.com/">MONGO DB</a></span>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="dashboard__item dashboard__item_express">
			<div class="dashboard__item-slideup dashboard__item-slideup_express">
				<span class="dashboard__item-slideup-text"><a target="__blank" href="http://expressjs.com/">EXPRESS 4</a></span>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="dashboard__item dashboard__item_angular">
			<div class="dashboard__item-slideup dashboard__item-slideup_angular">
				<span class="dashboard__item-slideup-text"><a target="__blank" href="https://angular.io/">ANGULAR 4</a></span>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="dashboard__item dashboard__item_node">
		<div class="dashboard__item-slideup dashboard__item-slideup_node">
			<span class="dashboard__item-slideup-text"><a target="__blank" href="https://nodejs.org/">NODE.JS</a></span>
		</div>
		
		</div>
	</div>
</div>